{% extends 'base.html.twig' %}

{% block title %}{{ 'title.change_password'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'title.change_password'|trans }}</h1>
    {{ form_start(changePasswordForm) }}
    <div class="form-group">
        {{ form_label(changePasswordForm.currentPassword) }}
        {{ form_widget(changePasswordForm.currentPassword) }}
        {{ form_errors(changePasswordForm.currentPassword) }}
    </div>
    <div class="form-group">
        {{ form_label(changePasswordForm.newPassword.first) }}
        {{ form_widget(changePasswordForm.newPassword.first) }}
        {{ form_errors(changePasswordForm.newPassword.first) }}
    </div>
    <div class="form-group">
        {{ form_label(changePasswordForm.newPassword.second) }}
        {{ form_widget(changePasswordForm.newPassword.second) }}
        {{ form_errors(changePasswordForm.newPassword.second) }}
    </div>
    <button type="submit" class="btn btn-primary">{{ 'action.change_password'|trans }}</button>
    {{ form_end(changePasswordForm) }}
{% endblock %}
