{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.comment_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.comment_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}
        <table class="table">
            <thead>
            <tr>
                <th>{{ 'label.id'|trans }}</th>
                <th>{{ 'label.author'|trans }}</th>
                <th>{{ 'label.recipe'|trans }}</th>
                <th>{{ 'label.content'|trans }}</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>{{ 'label.actions'|trans }}</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for comment in pagination.items %}
                <tr>
                    <th scope="row">{{ comment.id }}</th>
                    <td>{{ comment.author.email }}</td>
                    <td>{{ comment.recipe.title }}</td>
                    <td>{{ comment.content }}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('comment_show', {'id': comment.id}) }}">{{ 'action.show'|trans }}</a>
                                <a href="{{ path('comment_edit', {'id': comment.id}) }}">{{ 'action.edit'|trans }}</a>
                                <a href="{{ path('comment_delete', {'id': comment.id}) }}">{{ 'action.delete'|trans }}</a>
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}