{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.comment_details'|trans({'%id%': comment.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.comment_details'|trans({'%id%': comment.id|default('')}) }}</h1>
    {% if comment is defined and comment|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ comment.id }}</dd>
            <dt>{{ 'label.created_at'|trans }}</dt>
            <dd>{{ comment.createdAt|format_date('long') }}</dd>
            <dt>{{ 'label.updated_at'|trans }}</dt>
            <dd>{{ comment.updatedAt|format_date('long') }}</dd>
            <dt>{{ 'label.recipe'|trans }}</dt>
            <dd>{{ comment.recipe.title }}</dd>
            <dt>{{ 'label.author'|trans }}</dt>
            <dd>{{ comment.author.email }}</dd>
            <dt>{{ 'label.actions'|trans }}</dt>
            <dd>
                <a href="{{ path('comment_index') }}" title="{{ 'action.back_to_list'|trans }}">
                    {{ 'action.back_to_list'|trans }}
                </a>
            </dd>
        </dl>
    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}

