{# templates/recipe/add_comment.html.twig #}

{% extends 'base.html.twig' %}

{% include 'default/_form.html.twig' with {
    page_title: 'title.recipe_create'|trans,
    form: form,
    submit_label: 'action.save'|trans,
    back_to_list_path: 'recipe_index',
} %}

{% block title %}
    {{ 'title.add_comment'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.add_comment'|trans }}</h1>

    {# Wyświetlenie formularza dodawania komentarza #}
    <form method="post" action="{{ path('recipe_add_comment', {'id': recipe.id}) }}">
        {{ form_row(form.email) }} {# Pole email użytkownika #}
        {{ form_row(form.comment) }} {# Pole treści komentarza #}

        <div class="form-group">
            <button type="submit" class="btn btn-primary">
                {{ 'action.add_comment'|trans }}
            </button>
        </div>
    </form>

    {# Dodatkowe przyciski lub linki, jakie mogą być potrzebne #}
    <a href="{{ path('recipe_show', {'id': recipe.id}) }}" class="btn btn-secondary">
        {{ 'action.cancel'|trans }}
    </a>
{% endblock %}
