{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.recipe_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.recipe_list'|trans }}</h1>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="mb-3">
            <a href="{{ path('recipe_create') }}" class="btn btn-primary">{{ 'title.recipe_create'|trans }}</a>
        </div>
        <div class="mb-3">
            <a href="{{ path('recipe_top-rated') }}" class="btn btn-primary">{{ 'title.recipe_top-rated'|trans }}</a>
        </div>
    {% endif %}

    <form method="get" action="{{ path('recipe_index') }}" class="form-inline mb-3">
        <div class="form-group mr-2">
            <label for="categoryId" class="mr-2">{{ 'label.category'|trans }}</label>
            <select id="categoryId" name="categoryId" class="form-control">
                <option value="">{{ 'label.all_categories'|trans }}</option>
                {% for category in categories %}
                    <option value="{{ category.id }}" {% if app.request.query.get('categoryId') == category.id %}{{ 'label.selected'|trans }}{% endif %}>
                        {{ category.title }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group mr-2">
            <label for="tagId" class="mr-2">{{ 'label.tag'|trans }}</label>
            <select id="tagId" name="tagId" class="form-control">
                <option value="">{{ 'label.all_tags'|trans }}</option>
                {% for tag in tags %}
                    <option value="{{ tag.id }}" {% if app.request.query.get('tagId') == tag.id %}{{ 'label.selected'|trans }}{% endif %}>
                        {{ tag.title }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">{{ 'action.filter'|trans }}</button>
    </form>

    {% if pagination is defined and pagination.items|length %}
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'recipe.id') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'label.created_at'|trans, 'recipe.createdAt') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'label.updated_at'|trans, 'recipe.updatedAt') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'recipe.title') }}</th>
                    <th>{{ 'label.author'|trans }}</th>
                    <th>{{ 'label.category'|trans }}</th>
                    <th>{{ 'label.tag'|trans }}</th>
                    {% set displayActions = false %}
                    {% for recipe in pagination.items %}
                        {% if is_granted('VIEW', recipe) or is_granted('ROLE_ADMIN') %}
                            {% set displayActions = true %}
                        {% endif %}
                    {% endfor %}
                    {% if displayActions %}
                        <th>{{ 'label.actions'|trans }}</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for recipe in pagination.items %}
                    <tr>
                        <td>{{ recipe.id }}</td>
                        <td>{{ recipe.createdAt|format_date('long') }}</td>
                        <td>{{ recipe.updatedAt|format_date('long') }}</td>
                        <td>{{ recipe.title }}</td>
                        <td>{{ recipe.author.username }}</td>
                        <td>
                            <a class="btn btn-outline-primary" href="{{ path('recipe_index', {'categoryId': recipe.category.id}) }}">
                                {{ recipe.category.title }}
                            </a>
                        </td>
                        <td>
                            {% if recipe.tags is defined and recipe.tags|length %}
                                {% for tag in recipe.tags %}
                                    <a class="btn btn-outline-primary" href="{{ path('recipe_index', {'tagId': tag.id}) }}">
                                        {{ tag.title }}
                                    </a>
                                {% endfor %}
                            {% else %}
                                &nbsp;
                            {% endif %}
                        </td>
                        <td>
                            {% if is_granted('VIEW', recipe) or is_granted('ROLE_ADMIN') %}
                                <a class="btn btn-outline-primary" href="{{ path('recipe_show', {'id': recipe.id}) }}">
                                    {{ 'action.show'|trans }}
                                </a>
                            {% endif %}
                            {% if is_granted('EDIT', recipe) or is_granted('ROLE_ADMIN') %}
                                <a class="btn btn-outline-success" href="{{ path('recipe_edit', {'id': recipe.id}) }}">
                                    {{ 'action.edit'|trans }}
                                </a>
                            {% endif %}
                            {% if is_granted('DELETE', recipe) or is_granted('ROLE_ADMIN') %}
                                <a class="btn btn-outline-danger" href="{{ path('recipe_delete', {'id': recipe.id}) }}">
                                    {{ 'action.delete'|trans }}
                                </a>
                            {% endif %}
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <a class="btn btn-outline-success" href="{{ path('recipe_rate', {'id': recipe.id}) }}">
                                    {{ 'action.rate'|trans }}
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% else %}
        <p>{{ 'message.empty_list'|trans }}</p>
    {% endif %}
{% endblock %}
