{% extends 'base.html.twig' %}

{% block title %}{{ 'label.rating'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'label.title'|trans }}: {{ recipe.title }}</h1>
    {{ form_start(form) }}
    {{ form_row(form.rating) }}
    <button type="submit">{{ 'action.submit'|trans }}</button>
    {{ form_end(form) }}
{% endblock %}
