{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Top Rated Recipes'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'Top Rated Recipes'|trans }}</h1>
    {% if recipes is not empty %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{{ 'label.title'|trans }}</th>
                    <th>{{ 'label.average_rating'|trans }}</th>
                    <th>{{ 'label.actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for recipe in recipes %}
                    <tr>
                        <td>{{ recipe[0].title }}</td>
                        <td>{{ recipe.avgRating|number_format(2) }}</td>
                        <td>
                            <a class="btn btn-outline-primary" href="{{ path('recipe_show', {'id': recipe[0].id}) }}">
                                {{ 'action.show'|trans }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>{{ 'No top-rated recipes found.'|trans }}</p>
    {% endif %}
{% endblock %}
