{% extends 'base.html.twig' %}

{% block title %}{{ 'action.edit_avatar'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'action.edit_avatar'|trans }}</h1>

    {{ form_start(form) }}
    {{ form_row(form.file) }}

    <button type="submit" class="btn btn-primary">{{ 'label.update_avatar'|trans }}</button>
    {{ form_end(form) }}
{% endblock %}

