{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.avatar_details'|trans({'%id%': avatar.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.avatar_details'|trans({'%id%': avatar.id|default('')}) }}</h1>
    {% if avatar is defined and avatar|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ avatar.id }}</dd>
            <dt>{{ 'label.user'|trans }}</dt>
            <dd>{{ avatar.user.email }}</dd>
            <dt>{{ 'label.filename'|trans }}</dt>
            <dd>{{ avatar.filename }}</dd>
            <dt>{{ 'label.actions'|trans }}</dt>
            <dd>
                <a href="{{ path('avatar_index') }}" title="{{ 'action.back_to_list'|trans }}">
                    {{ 'action.back_to_list'|trans }}
                </a>
            </dd>
        </dl>
    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}
