{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'title.change_password'|trans }}</h1>
    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.currentPassword) }}
        {{ form_widget(form.currentPassword) }}
        {{ form_errors(form.currentPassword) }}
    </div>
    <div class="form-group">
        {{ form_label(form.newPassword) }}
        {{ form_widget(form.newPassword) }}
        {{ form_errors(form.newPassword) }}
    </div>
    <button class="btn">Change Password</button>
    {{ form_end(form) }}
{% endblock %}
